{% extends 'base.html' %}
{% block title %}
<title>My Profile</title>
    {% endblock %}

{% block content %}
{% load static %}

<style>
.contact1256 {
    float: left;
    width: 100%;
	margin-top: 17px;
	margin-bottom: 64px;
}
.form-group label {

    color: #333;
	font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 14px;
}

</style>

{% if udetails %}
        {% for r in udetails %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center h2 pt-4 text-primary">MY PROFILE</div>
    </div>
    <div class="row my-5 p-5 bg-light">
        <div class="col-sm-2">
            <img src="/{{r.userpic}}" class="img-thumbnail"style="width:100%;">
        </div>
        <div class="col-sm-9">
            <b>NAME: </b>{{r.name}}<br>
            <b>EMAIL: </b>{{r.email}}<br>
            <b>MOBILE: </b>{{r.mobile}}<br>
            <b>ADDRESS: </b>{{r.address}}<br>
            <input type="button" id="btnedit" value="Edit Profile"class="btn btn-primary text-white">
        </div>
    </div>
</div>

<div class="container bg-light my-5 editprofileform" style="display:none">
<div class="contact1256">

                            <br> <div class="text-center" style="font-size: 22px; text-align: center;"><span style="border-top: 3px double #007bff; border-bottom: 3px double #007bff;">Update Your Profile</span> </div><br>
    <div class="container">

      <form action="/user/profile/" method="post" enctype="multipart/form-data">
{% csrf_token %}
                   <div class="row">

<div class="col-lg-2 rounded" style="margin-top:6%"><img src="/{{r.userpic}}" class="img-thumbnail" style="max-height:160px;max-width:100%;margin-top:10%;padding:2%;"></div>
            <div class="col-lg-10 pupdate">


                    <div class="row">
                    <div class="col-lg-5 form-group"><br>
                            <label>Name </label>
                        <input type="text" class=" form-control" value="{{r.name}}" name="name">

                    </div>
                    <div class="col-lg-5 form-group"><br>
                            <label>Mobile </label>
                        <input type="number" class=" form-control" value="{{r.mobile}}" name="mobile" >
                    </div>



                </div>
                 <div class="row">
                      <div class="col-lg-5  form-group"><br>
                            <label >Email ID</label>
                        <input type="email" class=" form-control" value="{{r.email}}" name="email" readonly>
                    </div>
                    <div class="col-lg-5  form-group"><br>
                            <label >Profile Picture </label>
                         <input type="file" name="pic" class=" form-control" value="" required>
                     </div>

                </div>

                <div class="row">
                    <div class="col-lg-10 form-group"><br>
                            <label >Address </label>
                        <textarea style="height:80px;"  class="form-control"  name="address">{{r.address}}</textarea>
                    </div>
                     <br></div>
                <div class="row">
                    <div class="col-lg-4 col-md-4"><br><br>
                        <input type="submit" value="Update Profile" class="BTN form-control btn btn-danger">
                         </div>

                </div>
            </div>
        </div>

          </form>
        {% endfor %}
        {% endif %}
    </div>
</div>
</div>

<script>
    $(document).ready(function(){
    $("#btnedit").click(function(){
    $(".editprofileform").slideDown("slow")
    })
    })
</script>
{% endblock %}
